<section class="text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-wrap w-full mb-20 flex-col items-center text-center">
      <h1
        class="sm:text-3xl text-2xl font-medium title-font mb-2 text-gray-900"
      >
        Gestión de Recursos
      </h1>
      <p class="lg:w-1/2 w-full leading-relaxed text-gray-500">
        Gestione sus recursos mediante este conjunto de modulos orientados a
        administrar y utilizar de manera efectiva los recursos disponibles en su
        organización.
      </p>
    </div>
    <div class="grid md:grid-cols-2 xl:grid-cols-3 gap-2">
      <div class="w-full p-4 relative">
        <div class="border border-gray-200 p-6 rounded-lg">
          <div
            class="w-10 h-10 inline-flex items-center justify-center rounded-full bg-indigo-100 text-indigo-500 mb-4"
          >
            <svg
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              class="w-6 h-6"
              viewBox="0 0 24 24"
            >
              <path d="M22 12h-4l-3 9L9 3l-3 9H2"></path>
            </svg>
          </div>
          <div class="flex justify-between">
            <div class="text-left justify-start">
              <h2 class="text-lg text-gray-900 font-medium title-font mb-2">
                Documentos
              </h2>
              <p class="leading-relaxed text-base">Gestiona tus documentos</p>
            </div>
            <button class="px-4 bg-indigo-500 text-white rounded-lg hover:bg-indigo-700"(click)="navigateTo('/intranet/document-type')">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                class="w-6 h-6 bi bi-arrow-right-square-fill"
                viewBox="0 0 16 16"
              >
                <path
                  d="M0 14a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2a2 2 0 0 0-2 2zm4.5-6.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5a.5.5 0 0 1 0-1"
                />
              </svg>
            </button>
          </div>
        </div>
      </div>
      <div class="w-full p-4">
        <div class="border border-gray-200 p-6 rounded-lg">
          <div
            class="w-10 h-10 inline-flex items-center justify-center rounded-full bg-indigo-100 text-indigo-500 mb-4"
          >
            <svg
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              class="w-6 h-6"
              viewBox="0 0 24 24"
            >
              <circle cx="6" cy="6" r="3"></circle>
              <circle cx="6" cy="18" r="3"></circle>
              <path
                d="M20 4L8.12 15.88M14.47 14.48L20 20M8.12 8.12L12 12"
              ></path>
            </svg>
          </div>
          <div class="flex justify-between">
            <div class="text-left justify-start">
              <h2 class="text-lg text-gray-900 font-medium title-font mb-2">
                Contribuyentes
              </h2>
              <p class="leading-relaxed text-base">
                Evalua y manten tus contribuyentes
              </p>
            </div>
            <button class="px-4 bg-indigo-500 text-white rounded-lg hover:bg-indigo-700" (click)="navigateTo('/intranet/taxpayer-type')">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                class="w-6 h-6 bi bi-arrow-right-square-fill"
                viewBox="0 0 16 16"
              >
                <path
                  d="M0 14a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2a2 2 0 0 0-2 2zm4.5-6.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5a.5.5 0 0 1 0-1"
                />
              </svg>
            </button>
          </div>
        </div>
      </div>
      <div class="w-full p-4">
        <div class="border border-gray-200 p-6 rounded-lg">
          <div
            class="w-10 h-10 inline-flex items-center justify-center rounded-full bg-indigo-100 text-indigo-500 mb-4"
          >
            <svg
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              class="w-6 h-6"
              viewBox="0 0 24 24"
            >
              <path d="M20 21v-2a4 4 0 00-4-4H8a4 4 0 00-4 4v2"></path>
              <circle cx="12" cy="7" r="4"></circle>
            </svg>
          </div>
          <div class="flex justify-between">
            <div class="text-left justify-start">
              <h2 class="text-lg text-gray-900 font-medium title-font mb-2">
                Entidades
              </h2>
              <p class="leading-relaxed text-base">
                Integra y administra tus entidades
              </p>
            </div>
            <button class="px-4 bg-indigo-500 text-white rounded-lg hover:bg-indigo-700" (click)="navigateTo('/intranet/entities')">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                class="w-6 h-6 bi bi-arrow-right-square-fill"
                viewBox="0 0 16 16"
              >
                <path
                  d="M0 14a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2a2 2 0 0 0-2 2zm4.5-6.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5a.5.5 0 0 1 0-1"
                />
              </svg>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
